@import "~@nativescript/theme/core";
@import "~@nativescript/theme/blue";

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Font icon class
.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
    font-weight: 400;
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
    font-weight: 900;
}

.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
    font-weight: 400;
}

.sourcesans-bold {
    font-family: "Source Sans Pro", "SourceSansPro-Bold";
    font-weight: bold;
}

.sourcesans-semi {
    font-family: "Source Sans Pro SemiBold", "SourceSansPro-SemiBold";
    font-weight: normal;
}
