<!--The content below is only a placeholder and can be replaced.-->
<ActionBar [title]="title"></ActionBar>
<!-- <StackLayout  class="p-20">
    <Label [text]="'Welcome to ' + title + '!'" class="h1 text-center" textWrap="true"></Label>
    
</StackLayout>  -->
<!-- <GridLayout>
  <Label [text]="'Welcome to nok ' + title + '!'" class="h1 text-center sourcesans-bold" textWrap="true"></Label>
  <Label [text]="'Welcome to nok ' + title + '!'" class="h1 text-center sourcesans-bold" textWrap="true"></Label>
  <Label text="&#xff2bb;" class="fas"></Label>
</GridLayout>  -->

<!-- <GridLayout row="*,*" column="*,*,*,*,*">
  <Label row="0" col="0" text="&#xf015;" textWrap="true" backgroundColor="blue"></Label>
  <Label row="1" col="0" text="Home" textWrap="true"  backgroundColor="yellow"></Label>
</GridLayout> -->
<!-- กินพื้นที่มากทีสุด ที่สามารถทำได้ -->
<!-- <GridLayout row="auto, auto" column="*,*,*,*,*">
  <Label row="0" col="0" text="&#xf015;" textWrap="true" backgroundColor="blue"></Label>
  <Label row="1" col="0" text="Home" textWrap="true"  backgroundColor="yellow"></Label>
</GridLayout> -->


<!-- <StackLayout>
    <Label text="message"></Label>
    <Label text="message"></Label>
    <Label text="message"></Label>
    <Label text="message"></Label>
</StackLayout> -->
<!-- <StackLayout>
    <Label text="message" width="100" height="100" backgroundColor="blue"></Label>
    <Label text="message" width="100" height="100" backgroundColor="orange"></Label>
    <Label text="message" width="100" height="100" backgroundColor="green"></Label>
</StackLayout> -->

<!-- <StackLayout orientation="horizontal">
  <Label text="message" width="100" height="100" backgroundColor="blue"></Label>
  <Label text="message" width="100" height="100" backgroundColor="orange"></Label>
  <Label text="message" width="100" height="100" backgroundColor="green"></Label>
  <Label text="message" width="100" height="100" backgroundColor="blue"></Label>
  <Label text="message" width="100" height="100" backgroundColor="green"></Label>
</StackLayout> -->

<!-- 2 x 3  rows x columns * = flex 1 -->
<!-- <GridLayout rows="*,*" columns="*,*,*">
  <Label text="message" row="0" col="0" backgroundColor="blue"></Label>
  <Label text="message" row="0" col="1" backgroundColor="orange"></Label>
  <Label text="message" row="0" col="2" backgroundColor="green"></Label>
  <Label text="message" row="1" col="0" backgroundColor="blue"></Label>
  <Label text="message" row="1" col="1" backgroundColor="orange"></Label>
  <Label text="message" row="1" col="2" backgroundColor="green"></Label>
</GridLayout> -->
<!-- 2 x 3 auto = fix text or content -->
<!-- <GridLayout rows="*,50" columns="*,*,*">
  <Label text="message" row="0" col="0" backgroundColor="blue"></Label>
  <Label text="message" row="0" col="1" backgroundColor="orange"></Label>
  <Label text="message" row="0" col="2" backgroundColor="green"></Label>
  <Label text="message" row="1" col="0" backgroundColor="yellow"></Label>
  <Label text="message" row="1" col="1" backgroundColor="orange"></Label>
  <Label text="message" row="1" col="2" backgroundColor="red"></Label>
</GridLayout> -->

<!-- flag thai แนวนอน-->
<!-- <GridLayout rows="*,*,*,*,*,*" columns="*">
  <Label text="message" row="0" col="0" backgroundColor="red"></Label>
  <Label text="message" row="1" col="0" backgroundColor="white"></Label>
  <Label text="message" row="2" col="0" rowspan="2" backgroundColor="blue"></Label>
  <Label text="message" row="4" col="0" backgroundColor="white"></Label>
  <Label text="message" row="5" col="0" backgroundColor="red"></Label>
</GridLayout> -->

<!-- flag thai แนวตั้ง-->
<!-- <GridLayout rows="*" columns="*,*,*,*,*,*">
  <Label text="message" row="0" col="0" backgroundColor="red"></Label>
  <Label text="message" row="0" col="1" backgroundColor="white"></Label>
  <Label text="message" row="0" col="2" colspan="2" backgroundColor="blue"></Label>
  <Label text="message" row="0" col="4" backgroundColor="white"></Label>
  <Label text="message" row="0" col="5" backgroundColor="red"></Label>
</GridLayout> -->

<!-- วางส่วนไหนของหน้าจอก็ได้ แกน z มี property left top only สามารถวางทับกันได้  -->
<!-- <AbsoluteLayout>
    <Label width="100" height="100" text="This is Label 1" top="20" left="10" backgroundColor="red"></Label>
    <Label width="100" height="100" text="This is Label 1" left="10" backgroundColor="blue"></Label>
</AbsoluteLayout> -->

<!-- คล้ายกับ DockLayout เป็นแกน x, y left top right botton ไม่สามารถอยุ่ทับกันได้ไม่กินพื้นที่กัน คล้ายกับ flex 1 ขนาดจะfix
   เท่ากับ content stretchLastChild default-->
<!-- <DockLayout stretchLastChild="true">
    <Label dock="top" text="I am on top!" backgroundColor="blue"></Label>
    <Label dock="left" text="I am on top!" backgroundColor="yellow"></Label>
    <Label dock="right" text="I am on top!" backgroundColor="green"></Label>
    <Label dock="bottom" text="I am on top!" backgroundColor="purple"></Label>
    <Label dock="top" text="I am on top!" backgroundColor="red"></Label>
</DockLayout> -->
<!-- default horizontal ตรงข้างกับ stackLayout ที่เป็น vertical ถ้าcontent เกินหน้าจอจะปัดตกให้-->
<!--itemWidth , itemHeight เอาไว้ default ขนาดให้ child แต่สามารถปรับ width, height-->
<!-- <WrapLayout orientation="horizontal" itemWidth="200" itemHeight="100">
  <Label text="message"  height="100" backgroundColor="blue"></Label>
  <Label text="message" width="100" height="100" backgroundColor="orange"></Label>
  <Label text="message" width="100" height="100" backgroundColor="green"></Label>
  <Label text="message" width="100" height="100" backgroundColor="blue"></Label>
  <Label text="message" width="100" height="100" backgroundColor="green"></Label>
</WrapLayout> -->
<!-- flexDirection default row-->
<FlexboxLayout>
  <Label text="message" height="100" backgroundColor="blue"></Label>
  <Label text="message" width="100" height="100" backgroundColor="orange"></Label>
</FlexboxLayout>